---
import Layout from "@l/Layout.astro";
import Product from "@c/Product.astro";
import {getProducts} from "@u/graphql.js";

const response = await getProducts();
const products = response.data.products.edges.map((edge) => edge.node);
---

<Layout title="Ecom Saleor">
  <h1>Productos:</h1>
  <ul>
    {
      products.map((product) => (
        <Product
          name={product.name}
          price={product.pricing.priceRange.start.net.amount}
          imgUrl={product.thumbnail.url}
          slug={product.slug}
        />
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding-inline-start: 0;
  }
</style>
