---
import {Image, getImage} from "astro:assets";

interface Props {
  name: string;
  price: number;
  imgUrl: string;
  slug: string;
}

const {name, price, imgUrl, slug} = Astro.props;

const optimizedImage = await getImage({
  src: imgUrl,
  format: "webp",
  width: 200,
  height: 200,
});
---

<article>
  <a href=`/producto-static/${slug}`>
    <Image
      src={optimizedImage.src}
      alt={name}
      width={optimizedImage.attributes.width}
      height={optimizedImage.attributes.height}
    />
    <hgroup>
      <h4>{name}</h4>
      <p>{price}€</p>
    </hgroup>
  </a>
  <a href="#" role="button">Add to cart</a>
</article>

<style>
  article {
    text-align: center;
    line-height: 1.1;
  }
  hgroup {
    h4 {
      font-size: 1rem;
    }
  }
</style>
